@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/*------------------------------------*\
		MAIN
\*------------------------------------*/
body {
  font-family: Ubuntu;
}
#app > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: Ubuntu;
}

textarea {
  resize: none !important;
}

.error input[type="text"],
.error input[type="email"],
.error input[type="password"],
.error textarea {
  border-color: #f14668;
}

/*------------------------------------*\
    ANIMATION
\*------------------------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/
main.main {
  display: flex;
  flex: 1;
  margin-top: 60px;
  padding: 0 15px;
  margin-bottom: 60px;
}
main.main--dashboard {
  margin-top: 20px;
}
main.main--vertical-align-center {
  align-items: center;
  margin-top: 0;
}

.page__head__right {
  text-align: right;
}
@media (max-width: 767px) {
  .page__head__right {
    text-align: left;
  }
}

/*------------------------------------*\
    AUTH
\*------------------------------------*/
.box--auth {
  width: 500px;
  margin: 0 auto;
}

/*------------------------------------*\
    CALCULATOR
\*------------------------------------*/
.v-logo {
  margin-bottom: 20px;
  max-width: 100px;
}
.title.page__title {
  margin-bottom: 60px;
}

/*------------------------------------*\
		PORTFOLIO
\*------------------------------------*/
.portfolio__item__icon {
  color: #000;
}
.portfolio__head.columns {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .portfolio__head.columns {
    flex-grow: 1;
    flex-shrink: 0;
    align-items: stretch;
    display: flex;
  }
}

.portfolio__item__actions {
  margin-left: auto;
}

/*------------------------------------*\
		PORTFOLIO TABLE
\*------------------------------------*/
.back__link {
  margin-bottom: 30px;
}

/*------------------------------------*\
    TABS
\*------------------------------------*/
.page__tabs > .tab-content {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.page__tabs .table-wrapper,
.page__tabs .b-tabs {
  padding-top: 30px;
}

/*------------------------------------*\
		MODAL
\*------------------------------------*/
.modal__title.title {
  margin-bottom: 40px;
  text-align: center;
}
